
.cloud
.uuid
.DS_Store
.google.token
.homekit.state
.ssh
.storage
.vscode
secrets.yaml
secrets.py
themes
tts
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant.log
__pycache__
*.pyc